#UE4 folders
Binaries
DerivedDataCache
Intermediate
Saved

#Custom folders

Content/TestingAleix
Content/Test


#Visual Studio

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

#Custom file formats

*.md

#Image

*.tiff
*.gif
*.jpg
*.png
*.tga
*.bmp
*.svg
*.cgm
*.jpeg
*.ps


#Video (only avi is not suported properly)

*.avi 

#Models

*.fbx
*.obj
*.3ds
*.dae
*.stl
